# Dart/Flutter specific
**/build/
**/ios/Flutter/.last_build_id
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/generated_plugin_registrant.*
**/.pub/
**/pubspec.lock
**/doc/api/
**/.pub-cache/

# Symbols
**/app.*.symbols

# Android specific
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.*
**/*.apk
**/*.aab
**/*.ipa
**/*.ap_
**/*.jks
**/*.keystore

# iOS specific
**/ios/Flutter/ephemeral
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/*.mode1v3
**/ios/*.mode2v3
**/ios/*.moved-aside
**/ios/*.pbxuser
**/ios/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh

# macOS specific
**/macos/Flutter/ephemeral
**/macos/Flutter/GeneratedPluginRegistrant.*

# Windows specific
**/windows/flutter/ephemeral
**/windows/flutter/generated_plugins.cmake
**/windows/flutter/generated_plugin_registrant.*

# Web specific
**/web/favicon.png
**/web/icons/

# IDE specific
**/.idea/
**/.vscode/
**/*.iml
**/*.ipr
**/*.iws
**/.DS_Store
**/Thumbs.db

# Coverage information
**/coverage/
**/.test_coverage.dart
**/lcov.info

# Exceptions to above rules
!**/ios/**/default.pbxuser
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages